@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #fafafa;
  --color-primary: #ffffff;
  --color-primary-hover: #f4f4f5;
  --color-surface: #09090b;
  --color-surface-hover: #18181b;
  --color-border: #27272a;
}

body {
  @apply bg-black text-zinc-50 min-h-screen antialiased selection:bg-zinc-800 selection:text-white;
}
